
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Ürünler</h2>
                    </div>
                    <div class="card-body">
                        <div class="col-md-3">
                            <div class="card">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
                                     alt="product"
                                     class="card-img-top" />
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5>Ürün ad:</h5>
                                        <h4>0₺</h4>
                                    </div>
                                    <a href="#" class="btn btn-primary">Sepete Ekle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Sepet Özet</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Örnek Ürün</span>
                                <span>0₺</span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <h5>Toplam Tutar:</h5>
                            <h4>0₺</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
